extends layout
block content
    .row.banner
        .col-12
            h1= title
        .row
            .col-12.col-lg-12
                p
                | Loc8r was created to help people find places to sit down and get a bit of work done.
                | <br /><br />
                A locator app is a software application designed to help users find specific locations, points of interest, or individuals. These apps utilize GPS (Global Positioning System) technology in smartphones and other devices to determine the user's exact geographical coordinates. By accessing maps and databases, locator apps can then provide directions, distances, and real-time navigation to the desired destination. They are commonly used for tasks like finding nearby restaurants, hotels, gas stations, landmarks, and more. Additionally, some locator apps offer features like geofencing, which allows users to set virtual boundaries and receive alerts when they enter or exit those areas. Overall, locator apps enhance convenience and efficiency in navigating and exploring various locations.